{#=====================================================
Form achievement page
  - Form for adding a new achievement to a game
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Platinum Tracker - Add Game

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Add Game</h2>
        </header>

        <form action="/add/game/" method="POST">

            <label for="name">Name of the Game</label>

            <input
                type="text"
                name="name"
                required
            >

            <label for="publishers">Publishers of the Game</label>

            <input
                type="text"
                name="publishers"
                required
            >

            <label for="desc">Description of the Game</label>

            <textarea
                name="desc"
                required
            ></textarea>

            <label for="image">Link to header image <strong>*optional*</strong></label>

            <input
                type="link"
                name="image"
                placeholder="https://..."
            >

            <button>Add</button>

        </form>
    </article>

{% endblock %}

