{#=====================================================
Form achievement page
  - Form for adding a new achievement to a game
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Platinum Tracker - Add Acheivement

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Add Acheivement</h2>
        </header>

        <form action="/add/achievement/{{ game }}" method="POST">

            <label for="name">Name of the Achievement</label>

            <input
                type="text"
                name="name"
                required
            >


            <label for="description">Description</label>

            <input
                type="text"
                name="description"
                required
            >


            <label for="image">Link to icon <strong>*optional*</strong></label>

            <input
                type="text"
                name="image"
                placeholder="https://..."
            >


            <button>Add</button>

        </form>
    </article>

{% endblock %}

