{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    {{ game.name }} - Platinum Tracker

{% endblock %}


{% block content %}

    <a role="button" href="/">Home</a>

    <article>

        <header>
            <h3>{{ game.name }}</h3>
        </header>

        {% for achievement in achievements %}
            <p>
                <strong>{{ achievement.name }}</strong> <a href="/complete/{{game.id}}">☐</a>
            </p>
        {% else %}
            <p>No achievements registered for this game yet.</p>
        {% endfor %}

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.username and (game.added_by == session.username) %}

                <a role="button" href="/delete/{{ game.id }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                Created by: <strong>{{ game.added_by }}</strong>

            {% endif %}

        </footer>

    </article>


{% endblock %}

