{#=====================================================
  Things page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Platinum Tracker - Home

{% endblock %}


{% block content %}

    <h2>Newest Games</h2>

    <a role="button" href="/form/game/">Add Game</a>

    <article id ="game-list">

        <ul>
            {% for game in games %}

                <li>
                    <a href="/game/{{ game.id }}" class="home-game">
                        <div class="home-game-text">
                            <h3>{{ game.name }}</h3> 
                            <strong>{{ game.publishers }}</strong> 
                            <p>{{ game.added_by }}</p>
                        </div>

                        {% if game.header_img %}
                            <img src="{{ game.header_img }}" alt="Header image"  class="home-game-image">
                        {% else %}
                            <img src="/static/images/missing.png" alt="Missing header" class="home-game-image">
                        {% endif %}
                    </a>
                </li>

            {% else %}

                <p>No games registered yet</p>

            {% endfor %}
        </ul>

    </article>



    

{% endblock %}

