{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    {{ game.name }} - Platinum Tracker

{% endblock %}


{% block content %}

    <a role="button" href="/">Home</a>

    <article>

        <header id="game-header">
            <h3>{{ game.name }}</h3>
            {% if game.header_img %}
                <img src="{{ game.header_img }}" alt="Header image">
            {% endif %}
        </header>

        {% for achievement in achievements %}
            <p id="ach{{ achievement.id }}">
                {% if session.user_username and (game.added_by == session.user_username) %}
                    <a href="/delete/achievement/{{ game.id }}/{{ achievement.id }}" onclick="return confirm('Delete achievement? This can NOT be undone.');">🗑</a>
                {% endif %}

                {% if achievement.date %}
                    <a href="/uncomplete/{{ game.id }}/{{achievement.id}}">🗹</a>
                {% else %}
                    <a href="/complete/{{ game.id }}/{{achievement.id}}">☐</a>
                {% endif %}

                {% if achievement.icon_img %}
                    <img src="{{ achievement.icon_img }}" alt="Achievement icon" id="achievement-icon">
                {% endif %}

                {% if achievement.date %}
                    {{ achievement.date }}
                {% endif %}

                <article>
                    <strong>{{ achievement.name }}</strong> 
                    <p id="ach-desc">{{ achievement.description }}</p>
                </article>
            </p>
        {% else %}
            <p>No achievements registered for this game yet.</p>
        {% endfor %}

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_username and (game.added_by == session.user_username) %}

                <a role="button" href="/delete/game/{{ game.id }}" onclick="return confirm('Delete game? This action is permanent and can NOT be undone.');">Delete</a>
                <a role="button" href="/form/achievement/{{ game.id }}">Add</a>

            {% else %}

                Created by: <strong>{{ game.added_by }}</strong>

            {% endif %}

        </footer>

    </article>

    {% if scroll %}
        <script>
            const el = document.getElementById('ach{{ scroll }}');
            if (el) el.scrollIntoView();
        </script>
    {% endif %}

{% endblock %}

