{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <article>

        <header>
            <h3>{{ game.name }}</h3>
        </header>

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (game.added_by == session.username) %}

                <a href="/delete/{{ game.id }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                Created by: <strong>{{ game.added_by }}</strong>

            {% endif %}

        </footer>

    </article>


    <a role="button" href="/things">Back to Thing List</a>

{% endblock %}

