/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* ACTION BUTTONS -------------------------------------------- */

.action {
    background-color: red;
}

.action.small {
    padding: 0.1em 0.5em;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

/* HOME PAGE -------------------------------------------- */

#game-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

#game-list li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    
    list-style: none;
}

#home-game {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    justify-content: space-between;
}

#home-game-text {
    width: 10%;
}

#home-game-header {
    width: 40%;
    min-width: 50px;
    height: 150px;
    float: right;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover; /* Crops the image to fill the container */
    object-position: center center; /* Centers the image within the container */
}




/* GAME PAGE -------------------------------------------- */

html {
  scroll-behavior: smooth;
}

textarea {
    min-height: 5rem;
    resize: none;
    field-sizing: content;
}

#game-article {
    padding: 2rem;
}

#game-header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

#game-text {
    width: 70%;
}

#game-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    gap: 1rem;
}

#header-img {
    width: 75%;
    height: 75%;
    min-width: 300px;
    max-width: 450px;
    max-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover; /* Crops the image to fill the container */
    object-position: center center; /* Centers the image within the container */
}

progress {
    width: 50%;
    max-width: 250px;
    height: 15px;
    border-radius: 15px;
    align-self: flex-end;
}

#game-progress {
    display: flex;
    width: 80%;
    gap: 1rem;
    justify-content: flex-end;
}

#achievement {
    display: inline-flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
}

#achievement a {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    text-decoration: none;
}


#achievement-content {
    font-size: 1.5rem;
    background-color: #1A1F28;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#achievement-content a {
    margin-left: auto;
    font-size: 1.5rem;
}


#ach-title {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 0%;
}

#ach-desc {
    font-size: 0.7rem;
    padding: 5px;
    gap: 0rem;
}

#achievement-icon {
    width: 6rem;
    height: 6rem;
    border-radius: 20px;
    padding: 0.5rem;
    object-fit: cover; /* Crops the image to fill the container */
    object-position: center center; /* Centers the image within the container */
}




/* Responsive design for smaller screens */
@media all and (max-width: 1300px) {

#game-article {
    max-width: 800px;
    align-items: center;
}

#game-header {
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    align-items: center;
}

#game-text {
    width: 80%;
    max-width: 80%;
    text-align: center;
    object-position: center center;
}

#header-img {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover; /* Crops the image to fill the container */
    object-position: center center; /* Centers the image within the container */
}

progress {
    width: 100%;
}

#game-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


}